        <footer>
            <% let formatedDate = new Date()
            let options = {year: "numeric"};
            formatedDate = formatedDate.toLocaleDateString("fr-FR", options) %> 
            <p class="text-center text-muted">© Copyright <%= formatedDate %> Le Bon Coup</p>
        </footer>

        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>

