        <footer>
            <p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
        </footer>

        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>

