        <footer>
            <p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
        </footer>
        <script src="/js/script.js"> 
        
        
        </script>
    </body>
</html>

