<body>
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/leboncoup.png" alt="Icone du site">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class=" btnAdd nav-link" aria-current="page" href="#">Déposer une annonce</a>
          </li>
          <form class="d-flex ps-2" role="search">
            <input class="bgInputSearch form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
          </form>
        </ul>
          <a class="nav-link pe-3 d-flex flex-column align-items-center text-dark" href="#">
            <img class="iconNav" src="/img/icon/bell-solid.svg" alt="icone">
            Recherches
          </a>

          <a class="nav-link pe-3 mt-1 d-flex flex-column align-items-center text-dark" href="#">
            <img class="iconNav" src="/img/icon/heart-solid.svg" alt="icone">
            Favoris
          </a>

          <a class="nav-link pe-3 d-flex flex-column align-items-center text-dark" href="#">
            <img class="iconNav" src="/img/icon/user-solid.svg" alt="icone">
            Connexion
          </a>
      </div>
    </div>
  </nav>