<%- include('./partials/head'); %>

<%- include('./partials/header'); %>



<form action="/members" method="POST" class="FormConnect d-flex flex-column align-items-center">
    <div class="cardFormConnect d-flex flex-column align-items-center card-body">
    <!-- Email input -->
    <div class="inputFormConnect form-outline mb-4">
        <label class="form-label" for="form2Example1">Email</label>
      <input name="mail" type="mail" id="form2Example1" class="form-control" />
    </div>
  
    <!-- Password input -->
    <div class="inputFormConnect form-outline mb-4">
        <label class="form-label" for="form2Example2">Mot de passe</label>
      <input name="password" type="password" id="form2Example2" class="form-control" />
    </div>
  
    <div class="row mb-4">
      <div class="col">
        <!-- forgot password -->
        <a href="#!">Mot de passe oublié?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btnFormConnect btn btn-block mb-4">S'identifier</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Pas encore membre? <a href="#!">S'enregistrer</a></p>
    </div>
</div>
</form>

  <%- include('./partials/footer'); %>