<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

<main>
<section class="home">
    <div class="listProduct">
        <% products.forEach(function(data) { %>
            <p><%=data.price%></p>
        <% }) %>
    </div>
</section>
</main>

<%- include('./partials/footer'); %>