<%- include('./partials/head'); %>

<%- include('./partials/header'); %>

<main>
    <div class="jumbotron">
        <div class="article">
            <h1> Titre de l'article </h1>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="image de l'article">
                <div class="card-body">
                    <h5> Catégorie: </h5> <div></div>
                    <h5> Lieu: </h5> <div></div>
                    <h5> Publié le: </h5> <div></div>
                    <h5> Description </h5> <div></div>
                    <p class="card-text">Description de l'article</p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./partials/footer'); %>