/* --------------Tout écran------------ */

main{
    background-color: #7FB1B6;
}

.indexCard{
    border-color: #00656f;
    border-width: 3px;
    box-shadow: 5px 5px 5px white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sendCard{
    width: 50%;
}

h5{
    font-size:x-large;
}

.cardStyle{
    color:#00656f;
    font-weight: bolder;
}

.sendMsg{
    display: flex;
    justify-content: center;
}

.btnSee{
    border: 1px solid black;
    background-color: #00656f;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    width: 50%;
}

.btnSee:hover {
    border: 1px solid black;
    background-color: white;
    color:#00656f;
}

/* ------------------------------------- */

/* --------------Ecran de PC------------ */

@media only screen and (min-width: 768px) {
    

    
}

/* ------------------------------------- */
