/* --------------Tout écran------------ */

main{
    background-color: #7FB1B6;
}

.borderCard{
    border-color: #00656f;
    border-width: 3px;
    margin: auto;
    box-shadow: 5px 5px 5px white;
    width: 80%;
}

.sendCard{
    width: 80%;
}

/* #imgProd{
    object-fit:cover;
    width: 50%;
} */

h5{
    font-size: xx-large;
}

.cardStyle{
    width: 10px;
    color:#00656f;
    font-weight: bolder;
}

.sendMsg{
    display: flex;
    justify-content: center;
}

.btnBuy{
    margin-bottom: 5%;
}

.btnSendMsg{
    margin-top: 5%;
}

.sellerSentence{
    margin: 25px;
    font-style: italic;
    color:#00656f;
    font-weight: 800;
    font-size: larger;
}

#seller{
    color:#00656f;
}

#seller:hover{
    color:white;
    font-size: 150%;
}
/* ------------------------------------ */

/* --------------Ecran de PC------------ */

@media only screen and (min-width: 768px) {
    .borderCard{
        border-width: 4px;
        width: 40%;
    }

    .sendCard{
        width: 40%;
    }
}

/* ------------------------------------ */
