.iconFav {width: 20%;
    
}
.isLike{
filter: invert(35%) sepia(83%) saturate(4373%) hue-rotate(208deg) brightness(100%) contrast(100%);
}

.notLike{
    filter: invert(75%) sepia(83%) saturate(4373%) hue-rotate(208deg) brightness(100%) contrast(50%);
}


