.btnAdd {
    background-color: #00656F;
    color: white !important;
    border-radius: 10px;
}

.bgInputSearch, .form-control{
    background-color: #00656F;
    color: white imo !important;
}

.iconNav, svg {
    width: 1.25rem;
    filter: invert(32%) sepia(23%) saturate(1805%) hue-rotate(138deg) brightness(91%) contrast(101%);
}

.navItemCat {
    background-color: #00656F;
    color: white;
}