.navbar-brand {
    width: 200px;
}

.navbar-brand img {
    width: 100%;
}

.btnAdd {
    background-color: #00656F;
    color: white !important;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin: 5px 0 5px 0;
}

.bgInputSearch, .navbar .form-control{
    background-color: #00656F;
    color: white !important;
}

.bgInputSearch {
    width: 80%;
    margin: 5px 0 5px 0;
}

.iconNav, svg {
    width: 1.25rem;
    filter: invert(32%) sepia(23%) saturate(1805%) hue-rotate(138deg) brightness(91%) contrast(101%);
}

.navItemCat {
    background-color: #00656F;
    color: white;
}

@media (min-width: 768px) {
    .btnAdd {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-nav form {
        margin-left: 20px;
    }

    .nav-link {
        padding: 0 20px 0 20px;
    }

    .bgInputSearch {
        height: 80%;
        width: 100%;
    }
}