button.btnFormConnect {
    background-color: #00656F;
    color: #7FB1B6;

}

.FormConnect {
    margin: 50px;
    
}

.inputFormConnect{
    width:60%;
}

.cardFormConnect{
    background-color: #7FB1B6;
    width:30%;
    padding:10px;
    border-radius: 5px;
}

.alertConnect{
    font-size: 1.5rem;
    align-self: center;
    width:40%;
}